

:root {
    --hextiles-color:                  #ffc400;
    --hextiles-color-hover:            #ff7300;
    --hextiles-color-1:            #ff7300;
    --hextiles-color-2:            #fbff00;
    
    --hextiles-sides-bt:                 30px;
    --hextiles-sides-btm:               -30px;
    --hextiles-sides-lr:                 52px;
    --hextiles-sides-h:                 60px;
    --hextiles-sides-w:                 104px;

    --hextiles-sides-bt2:                 35px;
    --hextiles-sides-h2:                 70px;
    --hextiles-sides-w2:                 121px;
    --hextiles-sides-lr2:                 61px;
    --hextiles-sides-btm2:                -35px;
}

.eshextilesclass:before{
    content: "";
    width: 0; height: 0;
    border-bottom: var(--hextiles-sides-bt) solid var(--hextiles-color);
    border-left: var(--hextiles-sides-lr) solid transparent;
    border-right: var(--hextiles-sides-lr) solid transparent;
    position: absolute;
    top: var(--hextiles-sides-btm);
}

.eshextilesclass{
    margin-top: var(--hextiles-sides-bt);
    width: var(--hextiles-sides-w);
    height: var(--hextiles-sides-h);
    background-color: var(--hextiles-color);
    position:absolute;
}

.eshextilesclass:after{
    content: "";
    width: 0;
    position: absolute;
    bottom: var(--hextiles-sides-btm);
    border-top: var(--hextiles-sides-bt) solid var(--hextiles-color);
    border-left: var(--hextiles-sides-lr) solid transparent;
    border-right: var(--hextiles-sides-lr) solid transparent;

}





.eshextilesclass:hover{
    background-color: var(--hextiles-color-hover);
}
.eshextilesclass:hover::before{
    
    border-bottom: var(--hextiles-sides-bt) solid var(--hextiles-color-hover);
}
.eshextilesclass:hover::after{
    
    border-top: var(--hextiles-sides-bt) solid var(--hextiles-color-hover);
    }

